$name: logo;

.#{$name} {
	display: flex;
	max-width: 300px;

	&__link {
		@extend %transition;
	}

	&__img {
		display: block;
		width: 100%;
	}
}

a.#{$name}__link {

	&:hover {
		opacity: .75;
	}

	&:active {
		opacity: .5;
	}
}