$name: menu;

.#{$name} {
	overflow: hidden;

	&__wrap {
		margin: -5px -15px;
		padding: 0;
		list-style-type: none;
	}

	&__item {
		display: inline-block;
		padding: 5px 15px;

		&_hot {

			.#{$name}__link {
				color: $color-danger;

				&:hover {
					color: $color-danger-hover;
				}

				&:active {
					color: $color-danger-active;
				}
			}
		}
	}

	&__link {

		&:hover {
			border-bottom-color: currentColor;
		}
	}
}