$name: text;

.#{$name} {
	font-size: 14px;

	@include screen-sm() {
		font-size: 15px;
	}

	@include screen-md() {
		font-size: 16px;
	}

	p {
		margin: 1rem 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&_size_sm {
		font-size: 12px;

		@include screen-sm() {
			font-size: 13px;
		}

		@include screen-md() {
			font-size: 14px;
		}
	}

	&_size_lg {
		font-size: 16px;

		@include screen-sm() {
			font-size: 17px;
		}

		@include screen-md() {
			font-size: 18px;
		}
	}

	&_invert {
		color: $color-text-light;

		a {

			&:not([class]),
			&[class=''] {
				border-color: $color-text-light;

				&:hover {
					color: $color-text;
					background-color: $color-text-light;
				}

				&:active {
					color: $color-text;
					background-color: $color-text-active;
					border-color: $color-text-active;
				}
			}
		}
	}
}