.mb-15

.container
	.mb-15
		.title .title
	.mb-15
		.title.title_size_md .title.title_size_md
	.mb-15
		.title.title_size_lg .title.title_size_lg
	.mb-15
		.title.title_size_xl .title.title_size_xl
	.mb-15
		.title.title_size_xxl .title.title_size_xxl
	.mb-15
		.title.title_upper_none .title.title_upper_none
	.mb-15
		.title.title_weight_thin .title.title_weight_thin
	.mb-15
		.title.title_weight_light .title.title_weight_light
	.mb-15
		.title.title_weight_bold .title.title_weight_bold
	.mb-15
		.invert
			.title.title_invert .title.title_invert