html {
	height: 100%;
	font-size: 6px;

	@include screen-sm() {
		font-size: 7px;
	}

	@include screen-md() {
		font-size: 8px;
	}

	@include screen-lg() {
		font-size: 9px;
	}

	@include screen-xl() {
		font-size: 10px;
	}
}

body {
	height: 100%;
	font-size: 1.6rem;
	font-family: $font-main;
	color: $color-text;
	line-height: 1.5;
	display: flex;
	flex-direction: column;

	&.noscroll {
		overflow: hidden;
	}
}

input,
textarea {
	// appearance: none;
	// border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
	color: inherit;

	&:not([class]),
	&[class=''] {
		@extend %transition;
		border-bottom: 1px solid $color-text;

		&:hover {
			color: $color-text-light;
			background-color: $color-text;
		}

		&:active {
			color: $color-text-light;
			background-color: $color-text-active;
			border-color: $color-text-active;
		}
	}
}

hr {
	margin: 0;
}

img {
	max-width: 100%;
}

::selection {

}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-sm-30 {

	@include screen-sm() {
		margin-bottom: 30px;
	}
}

.mb-md-30 {

	@include screen-md() {
		margin-bottom: 30px;
	}
}

.mb-lg-30 {

	@include screen-lg() {
		margin-bottom: 30px;
	}
}

.mb-xl-30 {

	@include screen-xl() {
		margin-bottom: 30px;
	}
}

.mb-1rem {
	margin-bottom: 1rem;
}

.mb-2rem {
	margin-bottom: 2rem;
}

.mb-3rem {
	margin-bottom: 3rem;
}

.mb-4rem {
	margin-bottom: 4rem;
}

.mb-5rem {
	margin-bottom: 5rem;
}

.mb-6rem {
	margin-bottom: 6rem;
}

.mb-7rem {
	margin-bottom: 7rem;
}

.invert {
	background: $color-main;
	margin: -1rem;
	padding: 1rem;
}